<!DOCTYPE html>
<html>
	<head>
		<title>VIRTUAL FEST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="images/logo.png"> 
		<link href='assets/css/bootstrap/bootstrap.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/profile.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
		
	</head>
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1 id="main_wall"><a href="#"><img src="images/logo.png" width="40" alt="" /> </a></h1>
						<nav class="links">
							<ul>
								 <li><h1><a href="#">VIRTUAl FEST</a></h1></li>
								
							
							</ul>
						</nav>
						<nav class="main">
							<ul>
							
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!--Links -->
							<section>
								<ul class="links">
								<li id="">
										<a  id="">
											<img src="images/logo.png" width="35" alt="" /><h3></h3>
											
										</a>
									</li>
									<li  id="go_news">
										<a  id="go_news">
											<h3>NOTICIAS</h3>
											<p>¿Dónde están los fiesteros?</p>											
										</a>
									</li>
									<li id="go_events">
										<a id="go_events">
											<h3>EVENTOS</h3>
											<p>¡Vive la fiesta!</p>
										</a>
									</li>
									<li id="go_profile">
										<a id="go_profile" >
											<h3>PERFIL</h3>
											<p>¡¿Que hay de tí?!</p>
										</a>
									</li>
									<li id="signout">
										<a id="signout" >
											<h3>Salir</h3>
											<p>Cerrar tu sesión</p>
										</a>
									</li>
									
								</ul>
							</section>

						<!-- Actions 
							<section>
								<ul class="actions vertical">
									<li><a href="../index.html" class="button big fit">SALIR</a></li>
								</ul>
							</section> -->

					</section>

					<!-- MAIN -->
					<div id="wall">

					</div>



					<!-- PROFILE -->
				<div id="profile">
					<div class="col-lg-15 col-sm-15">
					    <div class="card hovercard">
					        <div class="card-background">
					            <img class="card-bkimg" alt="" src="images/Dj.jpg">
					            <!-- http://lorempixel.com/850/280/people/9/ -->
					        </div>
					        <div class="useravatar">
					            <img alt="" src="images/avatar.jpg" id="userphoto">
					        </div>
					        <div class="card-info"> <span class="card-title"> <var id="name">name</var></span>

					        </div>
					    </div>
					    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
					        <div class="btn-group" role="group">
					            <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab"><span class="icon fa-edit" aria-hidden="true"></span>
					                <div class="hidden-xs">Publicar</div>
					            </button>
					        </div>
					        <div class="btn-group" role="group">
					            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="icon fa-heart" aria-hidden="true"></span>
					                <div class="hidden-xs">Fiestas</div>
					            </button>
					        </div>
					        <div class="btn-group" role="group">
					            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="icon fa-user" aria-hidden="true"></span>
					                <div class="hidden-xs">Fiesteros</div>
					            </button>
					        </div>
					    </div>

					        <div class="well">
					      <div class="tab-content">
					        <div class="tab-pane fade in active" id="tab1">
					          <h3>POST</h3>
					        </div>
					        <div class="tab-pane fade in" id="tab2">
					          <h3>MY EVENTS</h3>
					        </div>
					        <div class="tab-pane fade in" id="tab3">
					          <h3>MY FRIENDS</h3>
					        </div>
					      </div>
					    </div>
					    
					    </div>
					 </div>

			    <!-- NOTICIAS -->

			    <div id="news"> No disponible</div>







							<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; <a href="#">VIRTUAL FEST</a></p>
					</section>
		</div>
		
		<script src="assets/js/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
		<script src="assets/js/default.js"></script>

</html>